body {
  font-family: sans-serif;
  color: grey;
  background-color: black;
}

a {
  text-decoration: none;
  color: deepskyblue;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: deepskyblue;
}

h1 {
  font-size: 2.5em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.paintingImg {
  max-width: 500px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  border: double grey;
}

.content {
  padding: 0 1%;
}

.nav-wrapper {
  align-items: flex-end;
}

.title {
  font-style: italic;
  margin-top: 0;
  font-weight: normal;
}

.artist {
  margin-bottom: 0;
}

.userInput {
  border: dashed grey;
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sourceImages {
  display: flex;
  justify-content: space-evenly;
}

.irises {
  max-width: 500px;
  max-height: 384px;
}

.judgment {
  max-width: 500px;
  max-height: 372.33px;
}

.powwow {
  max-width: 500px;
  max-height: 370.25;
}

.redpots {
  max-width: 500px;
  max-height: 392.5;
}

.bathers {
  max-width: 500px;
  max-height: 347.27px;
}

.millstone {
  max-width: 500px;
  max-height: 394;
}

.adparnassum {
  max-width: 500px;
  max-height: 395px;
}

.reveal {
  display: flex;
  justify-content: center;
  margin-top: 21.44px;
}

.homeRow {
  display: flex;
  justify-content: flex-start;
}

.homeImg {
  width: 30%;
  margin: 20px;
}

.selectPainting {
  border: black;
}

.header img {
  float: right;
  background: #555;
}

.aboutBody {
  width: 75%;
  font-weight: normal;
}

.homeText {
  margin-left: 21.44px;
}

.homeDescr {
  margin-left: 21.44px;
  font-weight: normal;
}

/* painting cards for Paintings */

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 45%;
  text-align: center;
  padding: 0.1vh;
  margin: 0.1vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.paintings-container .cardImg {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.container {
  padding: 2px 16px;
}

.paintings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* painting cards for About */

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.about-container .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: auto;
  text-align: center;
  padding: 10px;
}
