body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: purple;
}

form div {
  margin: 1em;
  display: inline-block;
}

.painting {
  max-width: 500px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  border: double black thick;
}

.content {
  padding: 0 1%;
}

.nav-wrapper {
  align-items: flex-end;
}

.title {
  font-style: italic;
  margin-top: 0;
  font-weight: normal;
}

.artist {
  margin-bottom: 0;
}

.userImg {
  border: dashed black;
  max-width: 500px;
  min-height: 200px;
  float: right;
}
